.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-container .user-options{
	display: flex;
	flex-direction: column;
}

.user-options span {
	margin-bottom: 5px;
}

.riddle-container {
	color: #659AC5;
	background-color: #E3E5F8;
	font-size: 24px;
	margin:5px 0px 5px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.riddle-container .riddle-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 10px 10px 10px;
	background-color: ;
}

.riddle-container .riddle-details {
	font-size: 16px;
	font-weight: 200;
	color:#1A1A1A;
}

.riddle-container .upvote-box {
	display: flex;
	background-color: white;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50px;
	border: 1px black solid;
	cursor: pointer;
}

.riddle-container .solved-spacers {
	height: 100px;
	display: flex;
	flex-direction: column;
}

.riddle-container .btn {
	flex-grow: 1;
	width: 100%;
	height: 100%;
}

.complete {
	background-color: blue;
	width: 50px;
}

/*
Submitting a new riddle
*/

.new-riddle {
/*	display: flex;
	flex-direction: column;*/
}

.new-riddle {
	
}

/*
.fa {
	color:black;
}
*/

/* Styling for the ribbon */

.ribbon {
   position: absolute;
   right: -2px; top: -2px;
   z-index: 1;
   overflow: hidden;
   width: 75px; height: 75px; 
   text-align: right;
}

.ribbon span {
   font-size: 10px;
   color: #fff; 
   text-transform: uppercase; 
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg); /* Needed for Safari */
   width: 100px; display: block;
   background: #79A70A;
   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; right: -21px;
}